@font-face{
    font-family: "M_R";
    src: url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face{
    font-family: "M_B";
    src: url("fonts/Montserrat-Bold.woff") format("woff");
}

@font-face{
    font-family: "R_LI";
    src: url("fonts/Roboto-LightItalic.woff") format("woff");
}

@font-face{
    font-family: "R_R";
    src: url("fonts/Roboto-Regular.woff") format("woff");
}

@font-face{
    font-family: "KS_R";
    src: url("fonts/KaushanScript-Regular.woff") format("woff");
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

html{
    font-size: 15px;
}

body{
    margin: 0;

    font-family: "R_R";
    font-size: 14px;
    color: #000;
}

/* Intro */
.intro{
    color: #fff;

    background: url(img/intro_bg.jpg) center no-repeat;
    background-size: cover;

    height: 1000px;
}

.header{
    width: 100%;
}

.header__inner{
    display: flex;
    justify-content: space-between;

    max-width: 1200px;

    padding: 25px 15px;
    margin: 0 auto;
}

.header__logo{
    font-size: 2rem;
    font-family: "M_B";
}

.nav{
    display: flex;
    align-items: center;
}

.nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    margin-right: 50px;
}

/* Media */









