@font-face{
    font-family: "M_R";
    src: url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face{
    font-family: "M_B";
    src: url("fonts/Montserrat-Bold.woff") format("woff");
}

@font-face{
    font-family: "R_LI";
    src: url("fonts/Roboto-LightItalic.woff") format("woff");
}

@font-face{
    font-family: "R_R";
    src: url("fonts/Roboto-Regular.woff") format("woff");
}

@font-face{
    font-family: "KS_R";
    src: url("fonts/KaushanScript-Regular.woff") format("woff");
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

html{
    font-size: 15px;
}

body{
    margin: 0;

    font-family: "R_R";
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

hr{
    display: block;
    
    width: 100%;
    height: 1px;
    
    background-color: #e5e5e5;
    border: 0;
    
    margin: 45px 0;
}

/* Header */
.header{
    position: absolute;
    z-index: 1;
    
    color: #fff;
    
    width: 100%;

}

.header__inner{
    display: flex;
    justify-content: space-between;

    max-width: 1200px;

    padding: 25px 15px;
    margin: 0 auto;
}

.header__logo{
    font-size: 2rem;
    font-family: "M_B";
}

/* Nav */
.nav{
    display: flex;
    align-items: center;
}

.nav__link{
    position: relative;
    
    text-decoration: none;
    text-transform: uppercase;
    font-family: "M_R";
    color: #fff;

    margin-right: 50px;
    
    transition: color .4s linear;
}

.nav__link.active, .nav__link.active::after{
    color: #fce38a;
    opacity: 1;
}

.nav__link:last-child{
    margin-right: 0;
}

.nav__link::after{
    position: absolute;
    left: 0;
    bottom: -10px;
    
    opacity: 0;
    
    content: "";
    
    width: 100%;
    height: 3px;
    
    background-color: #fce38a;
    
    transition: opacity .4s linear;
}

.nav__link:hover, .nav__link:hover::after{
    color: #fce38a;
    opacity: 1;
}

/* Intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
    
    color: #fff;

    background: url(img/intro_bg.jpg) center no-repeat;
    background-size: cover;

    height: 100vh;
}

.container{
    width: 100%;
    max-width: 1230px;
    
    padding: 0 15px;
    margin: 0 auto;
}

.intro__content{
    text-align: center;
    color: #fff;   
}

.intro__title{
    font-size: 5.15em;
    font-family: "KS_R";
    
    margin-bottom: 45px;
}

.intro__subtitle{
    position: relative;
    
    font-size: 10.72em;
    font-family: "M_B";
    text-transform: uppercase;
    line-height: 1;
    
    margin-bottom: 140px;
}

.intro__subtitle::after{
    content: "";
    
    width: 60px;
    height: 3px;
    
    background-color: #fff;
    
    position: absolute;
    bottom: -70px;
    left: 50%;
    
    margin-left: -30px;
}

/* Slider */
.slider{
    width: 100%;
    
    position: absolute;
    left: 0;
    bottom: 0;
}

.slider__inner{
    display: flex; 
    justify-content: space-between;
}

.slider__item{
    width: 22%;
    
    font-size: 1.3em;
    font-family: "M_R";
    text-transform: uppercase;
    
    padding: 25px 0;
    
    border-top: 3px solid #fff;
    
    opacity: .7
}

.slider__item.active{
    opacity: 1;
    
    position: relative;
}

.slider__item.active::before{
    content: "";
    
    width: 70px;
    height: 3px;
    
    background-color: #f38181;
    
    position: absolute; 
    top: -3px;
    left: 0;
}

.slider__number{
    font-size: 1.7em;
    font-family: "M_B";
    
    margin-right: 8px;
}

/* About */
.about{
    padding-bottom: 110px;
    
    height: auto;
}

.about__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin-top: 85px;
}

.about__item{
    min-width: 30%;
    
    padding: 15px 15px 0 0;
}

.about__item:last-child{
    padding: 15px 0 0 0;
}

.about__item__bg{
    background-color: #95e1d3;
}

.about__item__bg:hover .about__content{
    opacity: 1;
}

.about__item__bg:hover .about__photo__block::after{
    opacity: .9;
}

.about__item__bg:hover .about__photo__block{
    transform: translate3d(-10px, -10px, 0);
}

.about__photo__block{
    position: relative;
    
    text-align: center;
    
    transition: transform .4s linear;
}

.about__photo__block::after{
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    
    background: linear-gradient(to top, #fce38a, #f38181);
    
    opacity: 0;
    
    transition: opacity .4s linear;
}

.about__photo{
    display: block;
    width: 370px;
}

.about__content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    
    opacity: 0;
    
    transform: translate3d(-50%, -50%, 0);
    
    transition: opacity .4s linear;
}

.about__icon{
    width: 32px;
    height: 23px;
    
    fill: #fff;
}

.about__text{
    font-size: 1.29em;
    font-family: "M_B";
    text-transform: uppercase;
    color: #fff;
}


/* Statistic*/
.statistic{
    background-color: #95e1d3;
}

.statistic__inner{
    display: flex;
}

.statistic__item{
    width: 20%;
    
    padding: 80px 30px;
    
    color: #fff;
    text-align: center;
    
    border-right: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    
}

.statistic__number{
    font-size: 5.14em;
    font-family: "M_B";
    line-height: 1;
}

.statistic__text{
    font-size: 1em;
    font-family: "M_R";
    text-transform: uppercase;
    margin-top: 8px;
}

/* Services*/
.services{
    height: auto;
    padding-bottom: 110px;
}

.services__inner{
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 60px;
    
    position: relative;
}

.services__item{
    display: flex;
    width: 33.33333%;
    
    padding: 0 30px;
}

.services__icon{
    width: 32px;
    height: 31px;
}

.services__content{  
    margin-left: 25px;
    
    min-width: 
}

.services__title{
    font-family: "M_R";
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1;
    
    margin-bottom: 10px;
}

.services__text{
    font-size: 1rem;

    color: #999999;
}

/* Design */
.design{
    position: relative;
    
    width: 100%;
    height: 850px;
    
    background: url(img/design_bg.jpg) center no-repeat;
    background-size: cover;
}

.design__container{
    position: relative;
    
    width: 100%;
    max-width: 600px;
    
    margin: 9px auto 0;
}

.design_ipad{
    display: block;
    
}

.design_phone{
    position: absolute;
    bottom: -90px;
    right: -80px;
}


/* What We Do*/
.whatwedo{
    height: auto;
    
    padding-bottom: 110px;
}

.whatwedo__content{
    margin-top: 75px;
    
    display: flex;
    flex-wrap: wrap;
}

.whatwedo__photo{
    width: 50%;
}

.whatwedo__img{
    display: block;
}

.whatwedo__inner{
    width: 50%;
}

.whatwedo__item{
    border: 1px solid #e5e5e5;
    
    padding: 15px;
    margin-bottom: 8px;
    
    position: relative;
}

.whatwedo__item.line::before{
    content: "";
    
    width: 100%;
    height: 1px;
    
    background-color: #e5e5e5;
    
    position: absolute;
    top: 60px;
    left: 0;
}

.whatwedo__item:last-child{
    margin-bottom: 0;
}

.whatwedo__item__header{
    display: flex;
    align-items: center;

    position: relative;
}

.item__header__title{
    font-family: "M_R";
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    
    margin-left: 10px;
}

.item__header__arrow{
    position: absolute;
    right: 0;
    top: 50%;
    
    transform: translateY(-50%);
}

.whatwedo__item__text{
    color: #999999;
    
    padding-right: 40px;
    
    position: relative;
    
    margin-top: 30px;
}

.whatwedo__item__text::before{
    content: "";
    
    width: 5px;
    height: 65%;
    
    background-color: #95e1d3;
    
    position: absolute;
    right: 0;
    top: 0;
    
    border-radius: 5px;
}

.whatwedo__item__text::after{
    content: "";
    
    width: 5px;
    height: 100%;
    
    background-color: #999999;
    
    opacity: .1;
    
    position: absolute;
    right: 0;
    top: 0;
    
    border-radius: 5px;
}

/* Team */
.team{
    height: auto;
    
    padding-bottom: 110px;
    
}

.team__inner{
    margin-top: 90px;
    
    display: flex;
    flex-wrap: wrap;
}

.team__item{
    width: 33.33333%;
    
    padding: 0 15px;
}

.team__item:hover .card__img {
    opacity: .1;
}

.team__item:hover .card__inner {
    transform: translate3d(-10px, -10px, 0);
}

.team__item:hover .card__social {
    opacity: 1;
}

.team__card{
    background-color: #95e1d3;
}

.card__inner{
    background: linear-gradient(to top, #fce38a, #f38181);
    
    position: relative;
    
    transition: transform .4s linear;
}

.card__img{
    display: block;
    width: 100%;
    
    transition: opacity .4s linear;
}

.card__social{
    opacity: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    
    transform: translate3d(-50%, -50%, 0);
    
    display: flex;
    
    transition: opacity .4s linear;
}

.card__item{
    background-color: #fce38a;
    
    border-right: 1px solid #f9bd88;
    
    padding: 15px 15px 9px;
    
    width: 60px;
    
    text-align: center;
    
    transition: background .4s linear;
}

.card__item:hover{
    background-color: #f38181;
}

.card__item:hover .team__icon{
    fill: #fff;
}

.card__item:last-child{
    border-right: none;
}







.team__name, .team__prof{
    text-align: center;
    
}

.team__name{
    font-family: "M_R";
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    
    margin-top: 20px;
}

.team__prof{
    font-family: "R_LI";
    font-size: 1rem;
    color: #b6b6b6;
    
    margin-top: 5px;
}

/* Logos */
.logos{
    background-color: #f8f8f8;
    
    padding: 55px 0;
}

.logos__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 10px;
}


/* Galery */
.galery{
    height: auto;
}

.galery__inner{
    margin-top: 100px;
    
    display: flex;
    flex-wrap: wrap;
}

.galery__col{
    width: 25%;
}

.galery__item{  
    position: relative;
    
    background: linear-gradient(to top, #fce38a, #f38181);
}

.galery__item:hover .galery__img{
    opacity: .1;
}

.galery__item:hover .galery__item__info{
    opacity: 1;
}

.galery__img{
    display: block;
    
    width: 100%;
    
    transition: opacity .4s linear;
}

.galery__item__info{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate3d(-50%, -50%, 0);
    
    text-align: center;
    color: #fff;
    
    opacity: 0;
    
    transition: opacity .4s linear;
}

.galery__item__title{
    font-family: "M_R";
    font-size: 1em;
    text-transform: uppercase;
    
    margin: 10px 0;
}

.galery__item__subtitle{
    font-family: "R_LI";
    font-size: 1rem;
}

/* Clients */
.clients{
    background: url(img/say_bg.jpg) center no-repeat;
    background-size: cover;
    
    height: auto;
    
    padding-bottom: 40px;
}

.clients__inner{
    margin-top: 90px;
    
    display: flex;
    flex-wrap: wrap;
}

.client__item{
    display: flex;
    
    width: 50%;
    
    padding: 0 50px 0 35px;
    margin-bottom: 70px;
}

.client__photo{
    height: 110px;
    
    margin-right: 20px;
}

.client__name{
    font-family: "M_R";
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    
    margin-bottom: 7px;
}

.client__prof{
    font-family: "R_LI";
    font-size: 1rem;
    
}

.client__prof::after{
    content: "";
    
    width: 60px;
    height: 3px;
    
    background-color: #f38181;
    
    display: block;
    
    margin: 15px 0;
}

.client__text{
    font-size: 1rem;
    color: #999999;
}

/* Blog */
.blog{
    height: auto;
    padding-bottom: 110px;
}

.blog__inner{
    margin-top: 40px;
    
    display: flex;
    flex-wrap: wrap;
}

.blog__item{
    width: 33.33333%;
    
    padding: 0 15px;
}

.blog__item:first-child{
    padding: 0 15px 0 0;
}

.blog__item:last-child{
    padding: 0 0 0 15px;
}

.blog__card{
    position: relative;
}

.blog__photo{
    height: 240px;
    width: 100%;
}

.blog__card__info{
    position: absolute;
    bottom: 10px;
    left: -10px;
    
    background-color: #95e1d3;
    
    padding: 15px 15px 13px;
    
    text-align: center;
    color: #fff;
}

.card__number{
    font-family: "M_B";
    font-size: 2rem;
}

.card__month{
    font-family: "R_LI";
    font-size: 1rem;
}

.blog__title{
    font-family: "M_R";
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    
    margin: 12px 0;
}

.blog__title:hover{
    text-decoration: underline;
}

.blog__text{
    font-size: 1rem;
    color: #999999;
}

.blog__text::after{
    content: "";
    
    width: 100%;
    height: 1px;
    
    background-color: #e5e5e5;
    
    display: block;
    
    margin: 20px 0;
}

.blog__info{
    display: flex;
    align-items: center;
}

.info__number{
    font-family: "R_LI";
    font-size: 1rem;
    color: #bdbdbd;
    text-decoration: none;
    
    margin-left: 5px;
}

.info__number:hover{
    text-decoration: underline;
}

.blog__icon__comment{
    margin-left: 15px;
}

/* Map */
.map{
    background: url(img/map_bg.jpg) center no-repeat;
    background-size: cover;
    
    padding: 55px 0;
}

.map__content{
    text-align: center;
    font-size: 1.71em;
    font-family: "M_B";
    font-weight: 700;
}

.map__title{
    margin-top: 10px;
    
    color: #f38181;
    text-transform: uppercase;
}

.map__title::after{
    content: "";
    
    width: 60px;
    height: 3px;
    
    display: block;
    
    background-color: #f38181;
    
    margin: 10px auto 0;
}

/* Footer */
.footer{
    padding: 70px 0 0;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    
    position: relative;
}

.footer__inner::after{
    content: "";
    
    width: 100%;
    height: 1px;
    
    background-color: #e5e5e5;
    
    position: absolute;
    bottom: -65px;
    left: 0;
}

.footer__col__mogo{
    width: 39%;
}

.footer__col__blog{
    width: 34%;
}

.footer__col__inst{
    width: 23%;
}


/* Footer Col 1 */
.footer__title{
    font-size: 3.29em;
    font-family: "M_B";
    color: #cccccc;
    
    margin-bottom: 35px;
}

.footer__text{
    color: #cccccc;
    font-size: 1rem;
    
    margin: 40px 0;
}

.footer__followers{
    font-family: "M_R";
    font-size: 1em;
    color: #333333;
}

.footer__followers::after{
    content: "";
    
    width: 100%;
    height: 1px;
    
    background-color: #e5e5e5;
    
    display: block;
    
    margin: 15px 0;
}

.followers__amount{
    font-family: "M_B";
    font-size: 1.29em;
}

.footer__follow{
    display: flex;
    align-items: center;
    
    margin-bottom: 35px;
}

.follow__text{
    font-family: "R_LI";
    font-size: 1rem;
    color: #999999;
    
    margin-right: 15px;
}

.footer__link{
    text-decoration: none;
}

.footer__link{
    margin-right: 15px;
    
    fill: #95e1d3;
    
    transition: fill .4s linear;
}

.footer__link:hover{
    fill: #f38181;
}

.footer__form{
    display: flex;
}

.form__input, .form__input::placeholder{
    color: #d9d9d9;
    font-size: 1rem;
    font-family: "R_LI";
}

.form__input{
    outline: none;
    
    border: 1px solid #e7e7e7;
    
    color: #999999;
    
    padding: 0 10px;
    
    width: 230px;
}

/* Footer Col 2 */
.footer__subtitle{
    font-family: "M_R";
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    
    margin-bottom: 35px;
}

.blogs__item{
    display: flex;
    align-items: center;
    
    margin-bottom: 30px;
}

.blogs__item:last-child{
    margin-bottom: 0;
}

.blogs__photo{
    margin-right: 20px;
}

.blogs__title{
    font-family: "M_R";
    font-size: 0.86em;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.blogs__title:hover{
    text-decoration: underline;
}

.blogs__date{
    font-size: 0.93em;
    font-family: "R_LI";
    color: #cccccc;
}

/* Footer Col 3 */
.footer__photos{
    display: flex;
    flex-wrap: wrap;
    
    margin-bottom: 10px;
}

.photo__item{
    padding: 1px;
}

.inst__img{
    display: block;
    width: 100%;
}

.footer__inst__text{
    font-family: "R_LI";
    font-size: 0.93em;
    text-decoration: none;
    
    transition: color .4s linear;
}

.footer__inst__text:hover{
    color: #f38181;
}

/* Copyright */
.copyright{
    text-align: center;
    font-family: "M_R";
    font-weight: 700;
    
    padding: 90px 0 25px;
}

.text__red{
    color: #f38181;
}


/* Quotes */
.quote{
    height: auto;
    
    background-color: #f8f8f8;
    
    padding: 70px 0;
}

.quote--bg__white{
    background-color: #fff;
    padding: 100px 0;
}

.quote__inner{
    display: flex;
    align-items: center;
    
    padding: 0 130px 0 110px;
    
    position: relative;
}

.quote__inner::before{
    position: absolute;
    left: 20px;
    
    content: "";
    
    background: url(img/arrow_left.png) center no-repeat;
    background-size: cover;
    
    width: 12px;
    height: 22px;

}

.quote__inner::after{
    position: absolute;
    right: 20px;
    
    content: "";
    
    background: url(img/arrow_right.png) center no-repeat;
    background-size: cover;
    
    width: 12px;
    height: 22px;

}

.quote__icon{
    padding: 40px 40px 33px;
    
    border: 3px solid #95e1d3;
}

.quote__icon.another{
    border: 0;
    
    padding: 0;
}

.quote__content{
    margin-left: 60px;
}

.quote__text{
    font-size: 1.71em;
    line-height: 1.5;
    font-family: "R_LI";
    color: #999999;
}

.quote__avtor{
    font-family: "KS_R";
    font-size: 1.71em;
    
    margin-top: 20px;
}

.quote__avtor::before{
    content: "";
    
    width: 60px;
    height: 3px;
    
    background-color: #f38181;
    
    display: inline-block;
    
    margin: 0 8px 6px 0;
}

/* Icons */
.team__icon{
    fill: #f38181;
    
    width: 28px;
    height: 30px;
    
    transition: fill .4s linear;
}

.team__icon.unicue{
    width: 14px;
}

/* Titles */
.title__block{
    padding-top: 110px;
    
    text-align: center;
}

.title{
    font-size: 1.7em;
    font-family: "KS_R";
    
    margin-bottom: 20px;
}

.subtitle{
    font-size: 2.14em;
    font-family: "M_B";
    text-transform: uppercase;
}

.subtitle::after{
    content: "";
    display: block;
    
    width: 60px;
    height: 3px;
    
    background-color: #f38181;
    
    margin: 40px auto 0;
}

/* Text */
.text{
    width: 100%;
    max-width: 960px;
    
    color: #999999;
    font-size: 1rem;
    
    text-align: center;
    
    margin: 40px auto 0;
}

/* Btn */
.btn{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: "M_B";
    
    border: 3px solid #fff;
    
    padding: 12px 30px;
    
    transition: background .4s linear, border .4s linear;
}

.btn:hover{
    background-color: #95e1d3;
    border: 3px solid #95e1d3;
}

.btn__footer{
    border: none;
    
    background-color: #95e1d3;
    
    color: #fff;
    text-transform: uppercase;
    font-family: "M_B";
    font-size: inherit;
    
    padding: 14px 30px;
    
    cursor: pointer;
    
    transition: background .4s linear;
}

.btn__footer:hover{
    background-color: #f38181;
}

/* Media */
@media (max-width: 1400px){  

}








